* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%) no-repeat;
}

.ir {
    position: absolute;
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

h1 {
    width: 244px;
    height: 48px;
    margin: 72px 0 60px;
}

h1 img {
    width: 100%;
    height: 100%;
}

article {
    width: 400px;
    height: 360px;
    padding: 48px 44px 40px;
    background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%) no-repeat;
    border-radius: 16px;
    
}

article h2 {
    margin: 0;
    color: white;
    font-size: 2.4rem;
    text-align: center;
}

article h2:after {
    content: '';
    background-image: url("./img/Group44.png");
    display: block;
    margin: 23px 0 51px;
    border: 0;
    width: 312px;
    height: 2px;
}

.timer-settings {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
}

.time-wrapper {
    position: relative;
    padding: 16px 13px;
    width: 80px;
    height: 80px;
    border: 1px solid #354971;
    border-radius: 4px;
    background: linear-gradient(314.28deg, #304577 0%, #4C65A0 83%);
}

.time-wrapper label {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -18px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #A5B6EE;
    font-weight: 700;
}

.time-wrapper input {
    background: inherit;
    width: 53px;
    height: 48px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    border: 0;
    padding: 0;
    text-align: center;
    z-index: 1;
}

.time-wrapper:before {
    content: '';
    background-image: url("./img/Rectangle16.png");
    width: 16px;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0;
}

.time-wrapper:after {
    content: '';
    background-image: url("./img/Rectangle16.png");
    width: 16px;
    height: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 0;
}

.start-btn, .reset-btn {
    width: 112px;
    height: 48px;
    border-radius: 50px;
    background: #324577;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.05);
    border: 0;
    font-size: 1.4rem;
    font-weight: 700;
    color: #617199;
    padding: 16px 23px;
    text-align: center;
}

.start-btn {
    margin-left: 38px;
    margin-right: 12px;

}

footer p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: #8596BF;
    margin: 60px 0 103px;
}